@font-face {
  font-family: 'ITC Souvenir';
  src: url('/fonts/Souvenir-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* If you have different weights, add them like this: */
@font-face {
  font-family: 'ITC Souvenir';
  src: url('/fonts/Souvenir-Bold.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

