---
import "../styles/global.css";
import "../styles/fonts.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Footer from "../components/Footer";
import Button from "../components/Button";
import { BackgroundImage } from "../components/background";
import GetInTouchPage from "../components/GetInTouchPage";
---

<Layout title="Get in Touch - Twenty7 Creatives">
  <Header />
  <main class="container mx-auto px-4 py-16">
    <BackgroundImage />
    <GetInTouchPage client:load />
  </main>
  <Footer />
</Layout>

